body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}


.footer {
position: fixed;
width: 100%;
padding: 5px;
left: 0;
bottom: 0;
color: white;
text-align: center;
background-color: #60BEF6;
}